.container-form {
  border-radius: 2rem;
  width: 25dvw;
  height: fit-content;
  background-color: var(--background-color);
  border: 0.1rem solid var(--text-light);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  color: var(--text-color);
  padding: 2rem 4rem;
}

.outer-form {
  width: 100%;
  height: 100%;
  padding:4rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
}
.logo > span {
  color: var(--primary-color);
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
